<div class="container">
  <div class="row aux">
    <div class="col-4">
      <div class="perfil my-3 mx-3">
        <div class="card text-white text-center bg-darker">
          <div class="m-5 mt-3 mb-1">
            <img src="../../../assets/img/user.png" class="card-img-top" style="border-radius: 100%;">
          </div>
          <div class="card-body">
            <h3 class="card-title">Axel Lopez</h3>
          </div>
          <p>Listado de canciones...</p>
          <ul class="list-group list-group-flush overflow-scroll">
            <li class="text-start list-group-item bg-darker text-white text-nowrap"><i
                class="fas fa-play m-2"></i>Colocao - Nicki Nicole</li>
            <li class="text-start list-group-item bg-darker text-white text-nowrap"><i class="fas fa-play m-2"></i>Vete
              - Bad Bunny</li>
            <li class="text-start list-group-item bg-darker text-white text-nowrap"><i class="fas fa-play m-2"></i>Hawai
              Remix - Maluma </li>
            <li class="text-start list-group-item bg-darker text-white text-nowrap"><i class="fas fa-play m-2"></i>Hasta
              que Dios diga - Anuel AA</li>
            <li class="text-start list-group-item bg-darker text-white text-nowrap"><i
                class="fas fa-play m-2"></i>Definitivamente - Daddy Yankee</li>
            <li class="text-start list-group-item bg-darker text-white text-nowrap"><i
                class="fas fa-play m-2"></i>Anyone - Justin Bieber</li>

          </ul>
          <div class="card-body">
            <a href="#" class="card-link text-white">Log out</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="musica my-3">
        <div class="card bg-darker">
          <div class="row">
            <div class="col-4 p-5">
              <div class="img-musica">
                <img src="../../../assets/img/logo.png" class="img-fluid ml-0">
              </div>
            </div>
            <div class="col-8 py-5 px-3 text-white">
              <br>
              <h1>Safaera</h1>
              <h3>Bad Bunny</h3>
              <br>
              <div class="mx-3">
                <i class="fas fa-angle-double-left m-2"></i>
                <i class="fas fa-play m-2"></i>
                <i class="fas fa-angle-double-right m-2"></i>
              </div>
              <br>
              <div class="progress me-5">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                  aria-valuemax="100">0:47s</div>
              </div>
            </div>
          </div>
          <div class="row mx-3">
            <h3 class="text-white">Canciones recomendadas:</h3>
            <div class="lin ms-2 mb-5"></div><br> 
            <div class="col-4">
              <div class="text-white mb-3" style="border: 1px solid;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../../assets/img/logo.png" style="max-height: 110px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">No me ame</h5>
                      <p class="card-text">Rvssian</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="text-white mb-3" style="border: 1px solid;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../../assets/img/logo.png" style="max-height: 110px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Angels like you</h5>
                      <p class="card-text">Miley Cyrus</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="text-white mb-3" style="border: 1px solid;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../../assets/img/logo.png" style="max-height: 110px;">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Ghost of you</h5>
                      <p class="card-text">5 Seconds of summer</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row fixed-bottom">
    <div class="friends-container">
      <div class="card mx-2 text-white bg-darker" style="max-width: 400px">
        <div class="row g-0">
          <div class="col-md-3">
            <img src="../../../assets/img/user.png" class="img-fluid ml-0">
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">Oscar Estrada</h5>
              <p class="card-text">Reproduciendo Tusa - Karol G</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mx-2 text-white bg-darker" style="max-width: 400px">
        <div class="row g-0">
          <div class="col-md-3">
            <img src="../../../assets/img/user.png" class="img-fluid ml-0">
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">Oscar Estrada</h5>
              <p class="card-text">Reproduciendo Tusa - Karol G</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mx-2 text-white bg-darker" style="max-width: 400px">
        <div class="row g-0">
          <div class="col-md-3">
            <img src="../../../assets/img/user.png" class="img-fluid ml-0">
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">Oscar Estrada</h5>
              <p class="card-text">Reproduciendo Tusa - Karol G</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mx-2 text-white bg-darker" style="max-width: 400px">
        <div class="row g-0">
          <div class="col-md-3">
            <img src="../../../assets/img/user.png" class="img-fluid ml-0">
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">Oscar Estrada</h5>
              <p class="card-text">Reproduciendo Tusa - Karol G</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mx-2 text-white bg-darker" style="max-width: 400px">
        <div class="row g-0">
          <div class="col-md-3">
            <img src="../../../assets/img/user.png" class="img-fluid">
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">Oscar Estrada</h5>
              <p class="card-text">Reproduciendo Tusa - Karol G</p>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>