<section class="Form my-4 mx-5">
    <div class="container">
        <div class="row no-gutters">
            <div class="content-img col-lg-5">
                <img src="../../../assets/img/completo.gif" class="img-fluid">
            </div>
            <div class="col-lg-7 px-5 pt-5">
                <h1>Login</h1>
                <h4>Sign into your account</h4>
                <form>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <input type="email" placeholder="Correo electronico" class="form-control my-3 p-4">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <input type="password" placeholder="******" class="form-control my-3 p-4">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <button type="button" href="/home" class="btn1 mt-3 mb-5">Login</button>
                        </div>
                    </div>
                    <p>¿Aun no tienes una cuenta? <a href="/home">Registrate acá</a></p>
                </form>
            </div>
        </div>
    </div>
</section>