.content-img{
    padding: 0px;
}

.container {
    height: 100vh;
    padding-top: 10vh;
}
.row{
    background-color: white;
    border-radius: 30px;
    -webkit-box-shadow: 7px 11px 27px 2px #000000; 
    box-shadow: 7px 11px 27px 2px #000000;
}

img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 100%;
    width: 100%;
}

.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover{
    background-color: white;
    border: 1px solid;
    color: black;
}

@media (max-width: 1000px) { 
    img{
        border-bottom-left-radius: 0px;
    }
}

